/*topnav*/
.topnav {
    display: flex;
    justify-content: right;
    padding-right: 0.8em;
    background-color: #E42F28;
}

.topnav-p {
    text-indent: 0em;
    color: white;
}

.topnav p {
    margin: 0%;
}

.m-4 {
    margin: 0% !important;
}


/* navigation bar*/
.navbar {
    padding: 0% !important;
}

.navbar-brand {
    margin: 0% !important;
    padding: 0% !important;
}

.navbar .container-fluid {
    background-color: #1D0DE1 !important;
    color: white;
    padding-top: 0em;
    padding-bottom: 0em;
}

#navbarCollapse {

    text-align: center;
    justify-content: center;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
}

.dropdown-menu {
    text-transform: uppercase;
    background-color: #E42F28;

}

.dropdown-menu a:hover {
    background-color: #1D0DE1;
    color: white;
}

.dropdown-menu a {
    color: white;
    text-transform: uppercase;
    background-color: #E42F28;

}

/*navigation button in small screen*/


.navbar-toggler-icon {
    background-color: #E42F28;
    color: white;
}


/*banner section*/

.my-3 {
    margin: 0% !important;
    padding: 0% !important;
    min-width: 100% !important;

}

.banner-text {
    text-align: center;
    color: white;
}

.carousel-inner h5 {
    color: white;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white;
}

.carousel-dark .carousel-caption {
    background-color: #000;
    color: #fff;
    opacity: 0.655;
}


/*about section*/
h2 {
    margin-top: 0em !important;
    margin-bottom: 0.8em;
    padding-top: 0.8em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
    text-transform: capitalize;
}

.about-section {
    margin-left: 6em;
    margin-right: 6em;
}

p {
    font-size: 15px;
    text-align: justify;
    text-indent: 50px;
    color: black;
}


/*READ MORE BUTTON*/
.readmore-btn {
    text-align: center;
}

.readmore-btn a {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
}

.readmore-btn a:hover {
    /* change the direction of the change here */
    background-position: right center;
    color: #fff;
}

.next {
    /*background-color: #031A8E;*/
    background-image: linear-gradient(to right, #1D0DE1 0%, #E42F28 51%, #1D0DE1 100%);
    color: white;
}


/*Features Section*/

.feature-section {
    margin-left: 6em;
    margin-right: 6em;
}

/*device detail*/

.device-detail .container .row .col-md-5 {
    margin-right: auto;
    margin-left: auto;
}

.device-detail .container .row .mt-4 {
    margin-top: 1.5rem !important;
    justify-content: center !important;
}

.img-responsive {
    width: 50%;
}

/* Device list*/

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 18em;
}

.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 3rem !important;
}

.blog-home2 .subtitle {
    color: #303134;
    line-height: 24px;
}

.blog-home2 .text-themecolor {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: none;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #1D0DE1 0%, #E42F28 51%, #1D0DE1 100%);
    color: #ffffff;
}

.blog-home2 .text-themecolor:hover {
    background-position: right center;
    color: #fff;
}

.blog-home2 h5 {
    line-height: 22px;
    font-size: 18px;
}

.blog-home2 a.link {
    color: #3e4555;
}

.blog-home2 a.link:hover {
    color: #316ce8;
}

.blog-home2 .on-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.blog-home2 .date-pos {
    right: 10px;
    top: 10px;
}

.blog-home2 .date-pos span {
    font-size: 20px;
    line-height: 20px;
}

.blog-home2 .bg-info-gradiant {
    width: 60px;
    height: 57px;
    background-color: #1D0DE1;
    position: relative;
}

.blog-home2 .bg-info-gradiant::before {
    content: "";
    position: absolute;
    top: -27px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 28.8675px solid #1D0DE1;
}

.blog-home2 .bg-info-gradiant::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 28.8675px solid #1D0DE1;
}

.device-detail .container .row .mt-3 {
    text-align: center !important;
    text-indent: 0%;
}

/*timeline section*/

.page-title {
    padding-top: 0.8em;
    padding-bottom: 1.8em;
    color: white;
}

.timeline-section {
    background-color: #E42F28;
    padding-bottom: 2em;
}

.timeline-content {
    color: white;
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px;
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px;
}

.main-timeline .timeline:hover .icon:before {
    left: 3px;
}

.main-timeline .timeline:hover .icon:after {
    left: -3px;
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.main-timeline .date-outer {
    position: relative;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1;
    background-color: white;
}

.hexagon {
    position: relative;
    width: 190px;
    height: 109.70px;
    background-color: white;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 10px white;
    border-right: solid 10px white;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 134.35px;
    height: 134.35px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 17.8249px;
}

.hexagon:before {
    top: -67.1751px;
    border-top: solid 14.1421px white;
    border-right: solid 14.1421px white;
}

.hexagon:after {
    bottom: -67.1751px;
    border-bottom: solid 14.1421px white;
    border-left: solid 14.1421px white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* .main-timeline .timeline:hover .date-outer:before {
    left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px;
} */

.main-timeline .date {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.main-timeline .description {
    margin-bottom: 0;
    color: white;
    text-indent: 0%;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
}

/*gallery section*/
#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 30px;
}

.page-top {
    margin-top: 85px;
}


img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {

    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}



/*certification section*/

.certification {
    padding-bottom: 1em;
}

.certification .row {
    justify-content: space-between;
}

.certification .container {
    margin-top: 4em;
    padding-bottom: 4em;
}

.certification .container .row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.certification .container .card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.certification .container .card .card-image {
    width: 100%;
    max-height: 340px;
}

.certification .container .card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.certification .container .card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: #1D0DE1;
    opacity: 0.9;
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.certification .container .card:hover .card-content {
    bottom: 0px;
}

.certification .container .card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.certification .container .card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
}

.certification .container .card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.certification .container .card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.certification .container .card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
}


.certification .container .card:hover .card-content .social-icons li {
    transform: translateY(20px);
}

.certification .container .card .card-content .social-icons li a {
    color: #fff;
}

.certification .container .card .card-content .social-icons li a span {
    font-size: 1.3rem;
}



/*awards & recognition section*/
.award-section {
    padding-top: 2em;
    padding-bottom: 2em;
}

.pt-3 a i {
    padding-top: 1rem !important;
    font-size: 30px !important;
}

/*add css to award section*/


/*news & events section*/


/*Newsletter subscription*/
.subscribe-area {
    background-image: linear-gradient(to top, #00BDE1 0%, #0062ff 100%);
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-70 {
    padding-top: 70px;
}

.mb-15 {
    margin-bottom: 15px;
}

.subscribe-text span {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
}

.subscribe-text h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 6px;
}

.subscribe-wrapper {
    overflow: hidden;
}

.mb-15 {
    margin-bottom: 15px;
}

.subscribe2-wrapper .subscribe-form input {

    background-size: 200% auto;
    border: 1px solid #fff;
    border-radius: 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    height: 48px;
    margin-right: 17px;
    padding-left: 35px;
    width: 70%;
}

.subscribe2-wrapper .subscribe-form button {
    float: right;
    background-size: 200% auto;
    border: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 15px 45px;
    transition: all 0.3s ease 0s;
    background-image: linear-gradient(to right, #1D0DE1 0%, #E42F28 50%, #1D0DE1 100%);
    color: white;
}


.subscribe2-wrapper .subscribe-form button:hover {
    /* change the direction of the change here */
    background-position: right center;
    color: #fff;
}

.subscribe .subscribe-form label#subscribe-error {
    color: coral;
}

/*footer section*/

.footer {
    margin-top: 2%;
}

.footer footer .container .row ul li a:hover {
    color: #0062ff;
}

.list-unstyled p {
    text-indent: 0em;
    font-size: 1rem;
}

.footer ul li a {
    text-decoration: none;
    color: black;

}

.footer-copyright.text-center.py-3 {
    background-color: #E42F28;
    color: white;
    display: flex;
    justify-content: space-around;
}

.copywright-design {
    text-align: center;
}


.footer-copyright.text-center.py-3 a {
    color: white;
    text-decoration: none;
}


/*privacy policy*/
.privacy .container .row p {
    text-indent: 0%;
    justify-content: space-evenly;
}

.privacy-list {
    padding-left: 3%;
}

/*terms & condition*/
.terms .container .row p {
    text-indent: 0%;
    justify-content: space-evenly;
}

/*Contact Form*/
.contact {
    margin-bottom: 3em;
}

.contact form {
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 4%;
}

.g-3,
.gy-3 {
    --bs-gutter-y: 0rem;
}


.col-12 button {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
}

.col-12 button {
    background-image: linear-gradient(to right, #1D0DE1 0%, #E42F28 51%, #1D0DE1 100%);
    color: white;
}

.col-12 button:hover {
    background-position: right center;
    color: #fff;
}

.col-md-6 {
    margin-top: 2%;
    width: 100%;
}

.form-label {
    margin-bottom: 0rem;
}

.contact-detail {
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.contact-detail img {
    padding-top: 40px;
    padding-bottom: 38px;
}

.contact-para p {
    padding-bottom: 0.5px;
    text-indent: 0% !important;
    text-align: center;
}


@media only screen and (max-width: 1280px) and (min-width: 820px) {
    .contact-para p {
        padding-bottom: 01px;
    }
}

.map-container {
    overflow: hidden;
    margin-top: 2%;
    padding-bottom: 30%;
    position: relative;
    height: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*JQuery Media*/

/* for screen size: 991px*/
@media only screen and (min-width: 1440px) {
    .container-fluid img {
        padding-left: 4em;
    }

}

@media only screen and (max-width: 1199px) {
    .subscribe2-wrapper .subscribe-form input {
        padding-left: 10px;
        width: 60%;

    }

}

/* for screen size: 991px*/
@media only screen and (max-width: 991px) {

    /*timeline section*/
    .main-timeline .date-content {
        margin-top: 35px;
    }

    .main-timeline .date-content:before {
        width: 22.5%;
    }

    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px;
    }

    .main-timeline .title {
        font-size: 17px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0;
    }

    /*certification section*/
    .certification .container {
        margin-top: 20px;
        padding-bottom: 5em !important;
    }

    .certification .container .row .col-lg-4 {
        margin: 20px 0px;
    }

    /*newsletter subscription*/
    .subscribe2-wrapper .subscribe-form input {
        padding-left: 10px;
        width: 50%;

    }
}

/* for screen size: 767px*/
@media only screen and (max-width: 768px) {

    /*about-section*/
    .about-section {
        margin-left: 2em;
        margin-right: 2em;
    }

    /*timeline section*/
    .timeline {
        padding-bottom: 1.8em;
    }

    .main-timeline:before {
        margin: 0;
        left: 7px;
    }

    .main-timeline .timeline {
        margin-bottom: 20px;
    }

    .main-timeline .timeline:last-child {
        margin-bottom: 0;
    }

    .main-timeline .icon {
        margin: auto 0;
    }

    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0;
    }

    .main-timeline .date-content:before {
        display: none
    }

    .main-timeline .date-outer {
        width: 130px;
        height: 80px;
        margin-top: auto;
        margin-bottom: 7.999%;
    }

    .main-timeline .date {
        width: 100%;
        position: initial;
        top: 15%;
        left: 0;
    }



    .main-timeline .year {
        font-size: 24px;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }

    .main-timeline .title {
        margin-bottom: 10px;
    }

    /*newsletter subscription*/
    .subscribe2-wrapper .subscribe-form input {
        padding-left: 10px;
        width: 50%;

    }

    /*contact form*/

    .contact .row {
        display: block;
    }

    .contact .col {
        padding-top: 5%;
    }

    /*map JQuery*/

    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;

    }
}

@media only screen and (max-width:424px) {

    .subscribe2-wrapper .subscribe-form input {
        width: 40%;
        margin-bottom: 2%;
    }

    .subscribe2-wrapper .subscribe-form button {
        background-size: 200% auto;
        border: none;
        border-radius: 10px;
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        padding: 15px 30px;
        transition: all 0.3s ease 0s;
        background-image: linear-gradient(to right, #1D0DE1 0%, #E42F28 50%, #1D0DE1 100%);
        color: white;
    }

    /*contact form*/
    .contact .row {
        display: block;
    }

    .contact .col {
        padding-top: 5%;
    }
}